Probability and Statistics:
50 challenging problems in probability
Stats 110
Heard on the Street
Linear Algebra

Machine Learning:
Analytics Vidhya
Towards Data Science

Data Interpretation and Inference:

DSA:
Algozenith
OOPs
contest on codeforces
practice on leetcode
